
//---------------------
// Import all top level .styl files here
// compiled css will override bootstrap
// Order DOES matter - later styles will override previous ones
//---------------------


// variables for use around the app. 
// Must be imported into each component with @import ..(relative-path)/theme.styl
$color = #222222

// classes that can be reused in components
.block 
    max-width: 50%
    color: white